#box{
    transition: all 300ms;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#box-a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#span{
    margin-right: 5px;
}
#box:hover  #span{
    margin-right: 12px;
}
#box:hover {
    transform: scale(1.1);
    box-shadow: rgba(33, 33, 33, 0.16) 0px 3px 6px, rgba(32, 32, 32, 0.23) 0px 3px 6px;
}
#box:hover #box-a{
    background-color: #fff;
    color: rgb(214, 0, 0);
}
#in{
    animation: eles infinite 2s;
}
@keyframes eles {
    50%{
        bottom: 10px;
        transform: scale(.9);
    }
    
}
#list{
    
}
#list li{
    border-left: 3px solid red;
    padding-left: 3px;
    padding: 4px;
}
#list li:hover {
    box-shadow: inset 300px 0px rgb(220 38 38 );
}
