
body {
    background: url(background.jpg) no-repeat;
    width: 100%;
}

#iletisim-alan input ,
#iletisim-alan textarea{
    outline: none;
}
#iletisim-alan input:focus ,
#iletisim-alan textarea:focus{
    background-color: rgb(210, 232, 252);
    border-radius: 10px;
}